@use "variables" as *;

header {
    background: $backgroundHeader;
    background-color: #0c1423;
    background-repeat: no-repeat;
}

.flexContainerNav {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    padding-bottom: 5%;
    a:hover {
            color: #86e0f9;
        }
}

header ul {
    list-style-type: none;
    gap: 3rem;
    display: flex;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
}

 .goldFish img {
    max-width: 100%;
}

.headerContainer {
    width: 40%;
}

.goldFish {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 450px;
}

.underTheSea {
    text-align: center;
    padding-bottom: 10%;
    h3 {
        text-transform: uppercase;
    }
    .underTheSeaP {
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }

    button {
        background-color: #86e0f9;
        border: none;
        padding: 1% 2%;
        text-transform: uppercase;

    }
}