@use "variables" as *;

.homePageHeader {
    background-image: url(../under-the-sea-assets/header-image.jpg);
    background-color: $darkBlue;
    background-repeat: no-repeat;
}

.flexContainerNav {
    display: flex;
    justify-content: flex-end;
    // padding-top: 2%;
    padding-bottom: 5%;
    a:hover {
            color: $lightBlue;
        }
    a:focus {
             color: $lightBlue;
        }
}

header ul {
    list-style-type: none;
    gap: 3rem;
    display: flex;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase; 
}

 .goldFish img {
    max-width: 100%;
}

.headerContainer {
    width: 40%;
}

.goldFish {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 450px;
    margin-bottom: -20%;
}

.underTheSea {
    text-align: center;
    padding-bottom: 10%;
    
    h3 {
        text-transform: uppercase;
    }
    
    .underTheSeaP {
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }

    button {
        background-color: $lightBlue;
        border: none;
        padding: 1% 2%;
        text-transform: uppercase;
    }
}