@use "variables" as *;

.blogHeader {
    background-image: url(../under-the-sea-assets/blog-header.jpg);
    background-color: $darkBlue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

.flexContainerNav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5%;
    a:hover {
            color: $lightBlue;
        }
    a:focus {
             color: $lightBlue;
        }
}

.nav-links {
    list-style-type: none;
    gap: 3rem;
    display: flex;
    justify-content: flex-end;
}

.nav-links a {
    text-decoration: none;
    color: white;
    text-transform: uppercase; 

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: tomato;
    z-index: 30;
    display: block;
    margin: 15% -135%;
}