@use "variables" as *;

.blogHeader {
    background-image: url(../under-the-sea-assets/blog-header.jpg);
    background-color: $darkBlue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

.flexContainerNav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5%;
    a:hover {
            color: $lightBlue;
        }
    a:focus {
             color: $lightBlue;
        }
}

header ul {
    list-style-type: none;
    gap: 3rem;
    display: flex;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase; 

}

.hamburger {
    display: none;
    cursor: pointer;
}

.bars {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: white;
}