.greenSection {
    background-color: #0f614e;
}

.mainOne {
        display: flex;
        gap: 8rem;

    .newAdditions {
            // position: absolute;
            margin-top: -40px;
    }
    
    .boxShadow {
            box-shadow: 40px 40px 0px #86e0f9;
    }

    .textContainerMain {
        width: 40%;
        padding-top: 5%;

        h4 {
            margin-top: 0;
            text-transform: uppercase;
            width: 40%;
            text-align: left;
        }

        button {
            background-color: #0c1423;
            color: white;
            border: none;
            text-transform: uppercase;
            padding: 2%;
        }
    
    }
}

.mainTwo {
            display: flex;
            gap: 8rem;
            padding-top: 5%;
            

    .textContainerMain {
            width: 40%;
            padding-top: 5%;
    
            h4 {
                margin-top: 0;
                text-transform: uppercase;
                text-align: right;
            }
    
            p {
                text-align: right;
            }
    
            button {
                background-color: #0c1423;
                color: white;
                border: none;
                text-transform: uppercase;
                padding: 2%;
                margin-left: 75%;
            }
    }

     .nemo {
        margin-top: 40px;
    }
    
    .boxShadow {
        box-shadow: -40px 40px 0px #86e0f9;
    }
    
}

.linksToStuff {
    background-color: #0c1423;
    padding-top: 10%;
}