.greenSection {
    background-color: #0f614e;
}

.mainOne {
        display: flex;
        gap: 8rem;

    .newAdditions {
            // position: absolute;
            margin-top: -40px;
    }
    
    .boxShadow {
            box-shadow: 40px 40px 0px #86e0f9;
    }

    .textContainerMain {
        width: 40%;
        padding-top: 5%;

        h4 {
            margin-top: 0;
            text-transform: uppercase;
            width: 40%;
            text-align: left;
        }

        button {
            background-color: #0c1423;
            color: white;
            border: none;
            text-transform: uppercase;
            padding: 2%;
        }
    
    }
}

.mainTwo {
            display: flex;
            gap: 8rem;
            padding-top: 5%;
            

    .textContainerMain {
            width: 40%;
            padding-top: 5%;
    
            h4 {
                margin-top: 0;
                text-transform: uppercase;
                text-align: right;
            }
    
            p {
                text-align: right;
            }
    
            button {
                background-color: #0c1423;
                color: white;
                border: none;
                text-transform: uppercase;
                padding: 3%;
                margin-left: 70%;
                width: 30%;
            }
    }

     .nemo {
        margin-top: 40px;
    }
    
    .boxShadow {
        box-shadow: -40px 40px 0px #86e0f9;
    }
    
}

.linksToStuff {
    background-color: #0c1423;
    padding-top: 2%;
    padding-bottom: 3%;
    
    .flexContainerTop,
    .flexContainerBottom {
        display: flex;
    }

    .locations,
    .community,
    .blog,
    .getInTouch {
        flex: 1;
        padding: 2% 3% 2%;

        h4 {
            margin-left: 10%;
            text-transform: uppercase;
        }
    }
    
    .circle a {
        float: left;
        width: 36px;
        height: 36px;
        background-color: #86e0f9;
        border-radius: 20px;
        margin-top: 8%;
   
    }

    .circle i {
        padding: 12px 11px;
        font-size: 20px;
        color: #0c1423;
        position: relative;
        bottom: 3px;
        right: 3px;
    }

    .blog {
        i {
            position: relative;
            bottom: 4px;
            left: 1px;
        }
    }

    .community {
        i {
            position: relative;
            bottom: 4px;
            right: 5px;
        }
    }
}

.banner {
    background-image: url(../under-the-sea-assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;
}

 .thisMonthsProfile {
     background-color: #0c1423;
     padding-top: 5%;
     padding-bottom: 5%;
    
     .profile {
        display: flex;
        
     }

     
 }

