@use "variables" as *;

.greenSection {
    background-color: $greenColor;
}

.mainOne {
        display: flex;
        gap: 8rem;

    .newAdditions {
            // position: absolute;
            margin-top: -40px;
    }
    
    .boxShadow {
            box-shadow: 40px 40px 0px $lightBlue;
    }

    .textContainerMain {
        width: 40%;
        padding-top: 5%;

        h4 {
            margin-top: 0;
            text-transform: uppercase;
            width: 40%;
            text-align: left;
        }

        .homeButton {
            background-color: $darkBlue;
            color: white;
            border: none;
            text-transform: uppercase;
            padding: 3%;
            width: 30%;
        }
    }
}

.mainTwo {
            display: flex;
            gap: 8rem;
            padding-top: 5%;
            

    .textContainerMain {
            width: 40%;
            padding-top: 5%;
    
            h4 {
                margin-top: 0;
                text-transform: uppercase;
                text-align: right;
            }
    
            p {
                text-align: right;
            }
    
            .homeButton {
                background-color: $darkBlue;
                color: white;
                border: none;
                text-transform: uppercase;
                padding: 3%;
                margin-left: 70%;
                width: 30%;
            }
    }

     .nemo {
        margin-top: 40px;
    }
    
    .boxShadow {
        box-shadow: -40px 40px 0px $lightBlue;
    }
    
}

.linksToStuff {
    background-color: $darkBlue;
    padding-top: 2%;
    padding-bottom: 3%;
    
    .flexContainerTop,
    .flexContainerBottom {
        display: flex;
    }

    .locations,
    .community,
    .blog,
    .getInTouch {
        flex: 1;
        padding: 2% 3% 2%;

        h4 {
            margin-left: 10%;
            text-transform: uppercase;
        }
    }
    
    .circle a {
        float: left;
        width: 36px;
        height: 36px;
        background-color: $lightBlue;
        border-radius: 20px;
        margin-top: 8%;
   
    }

    .circle i {
        padding: 12px 11px;
        font-size: 20px;
        color: #0c1423;
        position: relative;
        bottom: 3px;
        right: 3px;
    }

    .blog {
        i {
            position: relative;
            bottom: 4px;
            left: 1px;
        }
    }

    .community {
        i {
            position: relative;
            bottom: 4px;
            right: 5px;
        }
    }
}

.banner {
    background-image: url(../under-the-sea-assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;
}

.thisMonthsProfile {
     background-color: $darkBlue;
     padding-top: 5%;
     padding-bottom: 7%;
    
     .profile {
        display: flex;

        .textContainerProfile {
            flex: 1;
            order: 2;

            h3 {
                text-transform: uppercase;
            }
        }

        .imageContainerProfile {
            flex: 1;
            order: 1;
            margin-top: 5%;
        }
     }

    .boxShadow {
        box-shadow: 40px 40px 0px $lightBlue;
    }

    .homeButton {
        background-color: $lightBlue;
        border: none;
        padding: 1%;
        text-transform: uppercase;
        width: 50%;
        margin-left: 25%;
    }
     
}

.gallery {
    background-color: $greenColor;
    padding-top: 5%;
    padding-bottom: 5%;

    .mainGallery {
        display: flex;
        justify-content: space-between;

        li {
            width: calc(100%/3 - 20px);
            list-style-type: none;
        }

        img {
            max-width: 100%;
        }
    }

}

