// FOR SMALLER LAPTOPS 
@media (max-width: 1250px) {
    .goldFish {
            display: none;
    }

    .underTheSea {
        padding: 20% 10% 10%;
    
        .underTheSeaP {
            text-align: center;
        }
    }
    
    .mainOne {
        display: flex;
        flex-direction: column;
        text-align: center;

        .textContainerMain {
            width: 80%;
            h4 {
                text-align: center;
                width: 100%;
                margin-top: -10%;
            }

            p {
                width: 100%;
            }
        }
    
        .newAdditions {
            margin-top: 5%;
        }
    
        .boxShadow {
            box-shadow: none;
        }
    }
    
    .mainTwo {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 5%;

        .nemo {
            margin-top: 0%;
            order: 1;
        }
    
        .textContainerMain {
            order: 2;
            padding-top: 0%;
            width: 80%;
    
            h4 {
                text-align: center;
                width: 100%;
                margin-top: -4%;
            }
    
            p {
                text-align: center;
            }
    
            .homeButton {
                margin-left: 0;
                }
        }
    
        .boxShadow {
            box-shadow: none;
        }
    }
}

// FOR THOSE PESKY ICONS🙃
@media (max-width: 1100px) {
    .linksToStuff {
        .circle a {
            margin-top: 10%;
            margin-right: 2%;
        }
    }

    .thisMonthsProfile {
        .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .textContainerProfile {
            // align-items: center;
            // align-content: center;
            flex: 1;
            order: 2;
            padding-top: 5%;
            text-align: center;
        }
    }

    .linksToStuff {
    .circle a {
        margin-top: 11%;
        margin-right: 2%;
    }
    }

    .thisMonthsProfile {
        .profile {
            .textContainerProfile {
            .homeButton {
                margin-left: 0%;
            }
            }
        }
    }
}

// FOR SMALLER TABLETS!
@media (max-width: 740px) {
    .nav-links {
        display: block;
        position: absolute;
        // right: 45%;
        height: 80vh;
        top: 1%;
        background-color: rgba(153, 205, 50, 0.395);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 50vw;
        transform: translateX(-500px);
        transition: transform 0.9s ease-in-out;
    }

    .burger {
        display: block;
        cursor: pointer;
        // position: absolute;
        // right: -103%;
        // z-index: 50;
        transition: all 1s ease;
        
    }

    // has to take nav on/off screeen
    .show {
        transform: translateX(90%);
        transition: transform 0.9s ease-in-out;
        margin-top: 10%;
    }

    .toggle .bar1 {
        transform: rotate(-45deg) translate(-15px,6px);
        transition: all transform 1s ease;
        
    }

    .toggle .bar2 {
        opacity: 0;
    }

    .toggle .bar3 {
        transform: rotate(45deg) translate(-5px,6px);
        transition: all transform 1s ease;
    }

   
    .underTheSea {
        padding: 20% 10% 10%;
    }

    .mainOne,
    .mainTwo {
        display: flex;
        justify-content: center;

        img {
            transform: scale(0.7);
            width: 100%;
            // margin: auto;
        }
    }

    .mainOne {
        .newAdditions {
            margin-top: -5%;
        }
        .textContainerMain {
            h4 {
                text-align: center;
                margin-top: -20%;
            }

            p {
                width: 100%;
            }
        }
    }

    .mainTwo {
        padding-bottom: 5%;

        .textContainerMain {
            margin-top: -5%;

            h4 {
                margin-top: -10%;
            }
            button {
                width: 40%;
            }
        }
    }

    .linksToStuff {
        h4 {
            font-size: 2.5rem;
            padding-top: 5%;
        }

        p {
            font-size: 1.5rem;
        }

        .location,
        .community {
            .circle a {
                margin-top: 16%;
                margin-right: 3%;
            }
        }
        
        .circle a {
            margin-top: 16%;
            margin-right: 3%;
        }

        .getInTouch {
            h4 {
                width: 100%;
            }
        }
    }

    .thisMonthsProfile {
        .textContainerProfile {
            padding-top: 10%;
        }
    }
}

// FOR PHONES - 
@media (max-width: 480px) {
    html {
        font-size: 50%;
    }

    .headerContainer {
        width: 40%;
        font-size: 1000%;
        margin-bottom: 50%;
    }
    .underTheSea {
        padding: 40% 10% 10%;
        display: flex;

        h3 {
        font-size: 4.5rem;
        }
    }

    .mainOne {
        margin-top: -5%;

        .textContainerMain {
            margin-top: -5%;
    
            h4 {
                text-align: center;
                margin-top: -15%;
            }
    
            p {
                width: 100%;
            }
        }
    }

    .mainTwo {
        padding-bottom: 5%;

        .textContainerMain {
            margin-top: -5%;

            h4 {
                margin-top: -10%;
            }
        }
    }
}

