@media (max-width: 1250px) {
    .flexContainerNav {
        // position:fixed;
        // left: -100%;
        // top: 70px;
        gap: 0;
        flex-direction: column;
    }


    .leftSide {
        display: flex;
        flex-direction: column;
        margin-top: 60%;
        width: 100%;
            .greenBackground {
                visibility: hidden;
            }

            .leftBlogImg {
                img {
                visibility: hidden;
                }
            }

            .aboutUnderTheSea {
                margin-left: -25%;
                margin-bottom: 75%;
                
                h4 {
                    margin-top: 5%;
                }
            }
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        margin-left: 0%; 

        .flexContainerRightBlog {
            
            h2 {
                padding-top: 25%;
                padding-left: 5%;
            }

            h3 {
                padding-top: 0%;
            }

            .imageRight {
                transform: scale(0.8);
                box-shadow: 41px 51px 0px #86E0F9;
                margin-left: -10%;
                margin-bottom: 55%;
            }

            .thinBorder {
                margin-left: 10%;
                margin-top: -17%;
            }

            .comments {
                margin-left: 0%;
                img {
                    float: left;
                    padding-right: 5%;
                    padding-bottom: 5%;
                    padding-top: 2%;
                }

                p {
                    padding-bottom: 5%;
                }
            }

            .form {
                padding-left: 5%;
                width: 80vw;

                .topContainerBlog {
                    margin-left: 5%;
                    display: flex;
                }

                .name {
                    input {
                    width: 30vw;
                    }
                }

                .email {
                    input {
                    width: 30vw;
                    }
                }


                .comment {
                    textarea {
                        width: 70vw;
                        margin-left: 5%;
                    }
                }

                button {
                    margin-left: 15%;
                    width: 100%;
                    margin-bottom: -20%;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .rightSide {
        .flexContainerRightBlog {
            .thinBorder {
                margin-left: 10%;
                margin-top: 10%;
            }
        
            .form {
                .topContainerBlog {
                    margin-left: 8%;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .rightSide {
        .flexContainerRightBlog {
            .thinBorder {
                margin-top: 25%;
            }
        }
    }
}

@media (max-width: 850px) {
    .leftSide {  
        .aboutUnderTheSea {
            margin-left: -25%;
            margin-bottom: 100%;
        }
    }

    .rightSide {
        .flexContainerRightBlog {
            .thinBorder {
                margin-top: 35%;
            }
        }
    }
}
    

@media (max-width: 740px) {
    .rightSide {
        .flexContainerRightBlog {
            .thinBorder {
                margin-top: 50%;
            }
        }
    }

         .nav-links {
             display: block;
             position: absolute;
             // right: 45%;
             height: 80vh;
             top: 1%;
             background-color: rgba(153, 205, 50, 0.395);
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: space-evenly;
             width: 50vw;
             transform: translateX(-500px);
             transition: transform 0.9s ease-in-out;
         }
    
         .burger {
             display: block;
             cursor: pointer;
             // position: absolute;
             // right: -103%;
             // z-index: 50;
             transition: all 1s ease;
    
         }
    
         // has to take nav on/off screeen
         .show {
             transform: translateX(90%);
             transition: transform 0.9s ease-in-out;
             margin-top: 10%;
         }
    
         .toggle .bar1 {
             transform: rotate(-45deg) translate(-15px, 6px);
             transition: all transform 1s ease;
    
         }
    
         .toggle .bar2 {
             opacity: 0;
         }
    
         .toggle .bar3 {
             transform: rotate(45deg) translate(-5px, 6px);
             transition: all transform 1s ease;
         }
}

@media (max-width: 690px) {
    .leftSide {
        .aboutUnderTheSea {
            margin-bottom: 70%;
            margin-left: -20%;
        }
    }
    
    .rightSide {
        .flexContainerRightBlog {
            .thinBorder {
                margin-top: 65%;
            }
        
        .form {
            padding-left: 5%;
            width: 80vw;

            .topContainerBlog {
                // margin-left: 10%;
                display: flex;
            }

            .name {
                input {
                    width: 25vw;
                }
            }

            .email {
                input {
                    width: 25vw;
                }
            }
        }
        }
    }
}
    

@media (max-width: 480px) {
    .leftSide  {      
        .aboutUnderTheSea {
            margin-left: -20%;
            margin-bottom: 45%;
        }
    }

    .rightSide {
        .flexContainerRightBlog {
            .thinBorder {
                margin-top: 155%;
            }
        }
    }
}