@media (max-width: 1250px) {
    form {
    flex-direction: column;
    justify-content: flex-start;

    .name {
        input {
            width: 50vw;
            margin-left: -1%;
        }
    }

    .email {
        input {
            width: 50vw;
            margin-left: -6%;
        }
    }  

    .message {
            margin-left: -6%;
    }

    button {
        margin: 4%;
    }
    }

    aside {
        h4, p {
                font-size: 120%;
        }
    }

}

@media (max-width: 1100px) {
    form {
        .email {
            input {
                margin-left: -7%;
            }
        }

        .message {
                margin-left: 1%;
            }
    }
}


// for the email address line (worst enemy)
@media (max-width: 950px) {
    form {
        .email {
            input {
                margin-left: -9%;
            }
        }
    }

    aside {
        h4,
        p {
            font-size: 100%;
        }
    }
}

// FOR SMALLER TABLETS!
@media (max-width: 740px) {
    form {
        .email {
            input {
                margin-left: 7%;
            }
        }

        .message {
            margin-left: 4%;
        }
    }
}

@media (max-width: 690px) {

    .name {
        margin-left: 8%;
    }
    .message {
        margin-left: 4%;
    }

    aside {
        .fa-brands {
            transform: scale(1.5);
        }

        h4,
        p {
            font-size: 80%;
        }
    }

    footer {
        margin-top: 15%;
    }
}

// FOR PHONES - 
@media (max-width: 480px) {
    form {
        .name {
            margin-left: -2%;
        }

        .email {
            input {
                margin-left: 7%;
            }
        }

        .message {
            margin-left: 3%;
        }

        button {
            margin-right: 2%;
        }
    }

    aside {
        .fa-brands {
            transform: scale(1.5);
        }

        h4,
        p {
            font-size: 70%;
        }
    }

    footer {
        margin-top: 25%;
    }
}