.blogHeader {
  background-image: url(../under-the-sea-assets/blog-header.jpg);
  background-color: #0c1423;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

.flexContainerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 5%;
}
.flexContainerNav a:hover {
  color: #86e0f9;
}
.flexContainerNav a:focus {
  color: #86e0f9;
}

.nav-links {
  list-style-type: none;
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: tomato;
  z-index: 30;
  display: block;
  margin: 15% -135%;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  color: white;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 13.8rem;
  line-height: 126px;
  text-transform: uppercase;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-size: 8rem;
  line-height: 92px;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-size: 4.2rem;
  letter-spacing: 1px;
}

h4 {
  font-family: "Barlow", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 1px;
}

nav {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 32px;
}

.greenSection {
  background-color: #0f614e;
}

.mainOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8rem;
}
.mainOne .newAdditions {
  margin-top: -40px;
}
.mainOne .boxShadow {
  -webkit-box-shadow: 40px 40px 0px #86e0f9;
          box-shadow: 40px 40px 0px #86e0f9;
}
.mainOne .textContainerMain {
  width: 40%;
  padding-top: 5%;
}
.mainOne .textContainerMain h4 {
  margin-top: 0;
  text-transform: uppercase;
  width: 40%;
  text-align: left;
}
.mainOne .textContainerMain .homeButton {
  background-color: #0c1423;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 3%;
  width: 30%;
}

.mainTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8rem;
  padding-top: 5%;
}
.mainTwo .textContainerMain {
  width: 40%;
  padding-top: 5%;
}
.mainTwo .textContainerMain h4 {
  margin-top: 0;
  text-transform: uppercase;
  text-align: right;
}
.mainTwo .textContainerMain p {
  text-align: right;
}
.mainTwo .textContainerMain .homeButton {
  background-color: #0c1423;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 3%;
  margin-left: 70%;
  width: 30%;
}
.mainTwo .nemo {
  margin-top: 40px;
}
.mainTwo .boxShadow {
  -webkit-box-shadow: -40px 40px 0px #86e0f9;
          box-shadow: -40px 40px 0px #86e0f9;
}

.linksToStuff {
  background-color: #0c1423;
  padding-top: 2%;
  padding-bottom: 3%;
}
.linksToStuff .flexContainerTop,
.linksToStuff .flexContainerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.linksToStuff .locations,
.linksToStuff .community,
.linksToStuff .blog,
.linksToStuff .getInTouch {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2% 3% 2%;
}
.linksToStuff .locations h4,
.linksToStuff .community h4,
.linksToStuff .blog h4,
.linksToStuff .getInTouch h4 {
  margin-left: 10%;
  text-transform: uppercase;
}
.linksToStuff .circle a {
  float: left;
  width: 36px;
  height: 36px;
  background-color: #86e0f9;
  border-radius: 20px;
  margin-top: 8%;
}
.linksToStuff .circle i {
  padding: 12px 11px;
  font-size: 20px;
  color: #0c1423;
  position: relative;
  bottom: 3px;
  right: 3px;
}
.linksToStuff .blog i {
  position: relative;
  bottom: 4px;
  left: 1px;
}
.linksToStuff .community i {
  position: relative;
  bottom: 4px;
  right: 5px;
}

.banner {
  background-image: url(../under-the-sea-assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
}

.thisMonthsProfile {
  background-color: #0c1423;
  padding-top: 5%;
  padding-bottom: 7%;
}
.thisMonthsProfile .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.thisMonthsProfile .profile .textContainerProfile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.thisMonthsProfile .profile .textContainerProfile h3 {
  text-transform: uppercase;
}
.thisMonthsProfile .profile .imageContainerProfile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 5%;
}
.thisMonthsProfile .boxShadow {
  -webkit-box-shadow: 40px 40px 0px #86e0f9;
          box-shadow: 40px 40px 0px #86e0f9;
}
.thisMonthsProfile .homeButton {
  background-color: #86e0f9;
  border: none;
  padding: 1%;
  text-transform: uppercase;
  width: 50%;
  margin-left: 25%;
}

.gallery {
  background-color: #0f614e;
  padding-top: 5%;
  padding-bottom: 5%;
}
.gallery .mainGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .mainGallery li {
  width: calc(33.3333333333% - 20px);
  list-style-type: none;
}
.gallery .mainGallery img {
  max-width: 100%;
}

footer p {
  background-color: #86e0f9;
  color: black;
  text-align: center;
  margin: 0;
}

.homePageHeader {
  background-image: url(../under-the-sea-assets/header-image.jpg);
  background-color: #0c1423;
  background-repeat: no-repeat;
}

.flexContainerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 5%;
}
.flexContainerNav a:hover {
  color: #86e0f9;
}
.flexContainerNav a:focus {
  color: #86e0f9;
}

.nav-links {
  list-style-type: none;
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.burger {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 40;
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: tomato;
  z-index: 30;
  display: block;
  margin: 15% -135%;
}

.goldFish img {
  max-width: 100%;
}

.headerContainer {
  width: 40%;
}

.goldFish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  bottom: 450px;
  margin-bottom: -20%;
}

.underTheSea {
  text-align: center;
  padding-bottom: 10%;
}
.underTheSea h3 {
  text-transform: uppercase;
}
.underTheSea h3 .homeButton {
  background-color: #86e0f9;
  border: none;
  padding: 1% 2%;
  text-transform: uppercase;
  width: 30%;
}
.underTheSea .underTheSeaP {
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

body {
  background-color: #0c1423;
}

.leftSide {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.leftSide .greenBackground {
  background-color: #0f614e;
  height: 950px;
  width: 515px;
  margin-left: 10%;
  margin-top: 7%;
}
.leftSide .leftBlogImg img {
  z-index: 10;
  width: 100%;
  position: absolute;
  bottom: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  margin-left: -100%;
}
.leftSide .aboutUnderTheSea {
  margin-left: 15%;
  position: absolute;
  bottom: 5%;
}
.leftSide .aboutUnderTheSea h4 {
  font-size: 280%;
  padding-bottom: 7%;
}
.leftSide .aboutUnderTheSea p {
  margin-right: 25%;
  margin-top: -10%;
  font-size: 150%;
}
.leftSide .aboutUnderTheSea li {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 32px;
  margin-left: -2%;
}
.leftSide .aboutUnderTheSea .recentPost {
  margin-bottom: -6%;
  margin-top: 10%;
}

.rightSide {
  margin-left: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rightSide .flexContainerRightBlog {
  margin-top: -40%;
}
.rightSide .flexContainerRightBlog h2 {
  text-transform: uppercase;
}
.rightSide .flexContainerRightBlog h3 {
  padding-top: 10%;
  padding-left: 3%;
  text-transform: uppercase;
}
.rightSide .flexContainerRightBlog .imageRight {
  width: 100%;
  -webkit-box-shadow: -41px 51px 0px #86e0f9;
          box-shadow: -41px 51px 0px #86e0f9;
  margin-top: -5%;
}
.rightSide .flexContainerRightBlog .thinBorder {
  -webkit-box-shadow: -7.75px 6px 0px #86e0f9;
          box-shadow: -7.75px 6px 0px #86e0f9;
  position: relative;
  left: -10%;
  bottom: 3%;
  top: -3%;
  padding-right: 3%;
}
.rightSide .flexContainerRightBlog .thinBorder figcaption {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  padding-left: 3%;
  margin-top: -5%;
  margin-bottom: 10%;
}
.rightSide .flexContainerRightBlog .thinBorder p {
  padding-left: 3%;
  padding-bottom: 5%;
}
.rightSide .flexContainerRightBlog .comments {
  margin-left: -5%;
}
.rightSide .flexContainerRightBlog .comments h4 {
  text-transform: uppercase;
}
.rightSide .flexContainerRightBlog .comments img {
  float: left;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 2%;
}
.rightSide .form {
  background-color: transparent;
  margin-left: -12%;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -5%;
  margin-bottom: 10%;
  padding: 3%;
  font-size: 1.2rem;
}
.rightSide .form .topContainerBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rightSide .form .name {
  padding-top: 8%;
}
.rightSide .form .name label {
  visibility: hidden;
}
.rightSide .form .name input {
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid #86e0f9;
  width: 18vw;
}
.rightSide .form .email {
  padding-top: 8%;
}
.rightSide .form .email label {
  visibility: hidden;
}
.rightSide .form .email input {
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid #86e0f9;
  width: 18vw;
}
.rightSide .form .comment {
  display: block;
  padding-top: 5%;
  padding-left: 3%;
}
.rightSide .form .comment label {
  visibility: hidden;
}
.rightSide .form .comment textarea {
  border: none;
  background-color: transparent;
  color: white;
  border: 2px solid #86e0f9;
  width: 41vw;
  height: 50vh;
  text-transform: capitalize;
  margin-left: -6%;
}
.rightSide .form button {
  width: 87%;
  background-color: #0f614e;
  color: white;
  text-transform: uppercase;
  border: none;
  margin: 4.5%;
  text-align: center;
}

.contactHeader {
  background-image: url(../under-the-sea-assets/contact-header.jpg);
  background-color: #0c1423;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}
.contactHeader h2 {
  text-transform: uppercase;
  margin-left: 37%;
}

.contactForm {
  background-color: #0f614e;
  margin-left: 34%;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -5%;
  -webkit-box-shadow: -40px 40px 0px #86e0f9;
          box-shadow: -40px 40px 0px #86e0f9;
  margin-bottom: 10%;
  padding: 2%;
  font-size: 1.2rem;
}
.contactForm .topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactName {
  padding-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactName label {
  visibility: hidden;
}
.contactName input {
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid #86e0f9;
  width: 23vw;
}

.contactEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8%;
}
.contactEmail label {
  visibility: hidden;
}
.contactEmail input {
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid #86e0f9;
  width: 23vw;
}

.contactMessage {
  display: block;
  padding-top: 5%;
  padding-left: 3%;
}
.contactMessage label {
  visibility: hidden;
}
.contactMessage textarea {
  border: none;
  background-color: transparent;
  color: white;
  border: 2px solid #86e0f9;
  width: 52vw;
  height: 50vh;
  text-transform: capitalize;
}

button {
  width: 94%;
  background-color: #0c1423;
  color: white;
  text-transform: uppercase;
  border: none;
  margin: 3%;
}

aside {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 75%;
}
aside .fa-brands {
  -webkit-transform: scale(2);
          transform: scale(2);
  padding-left: 5%;
  padding-right: 5%;
  margin-left: -3.5%;
}

footer {
  position: absolute;
  width: 100%;
}

@media (max-width: 1250px) {
  .goldFish {
    display: none;
  }
  .underTheSea {
    padding: 20% 10% 10%;
  }
  .underTheSea .underTheSeaP {
    text-align: center;
  }
  .mainOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .mainOne .textContainerMain {
    width: 80%;
  }
  .mainOne .textContainerMain h4 {
    text-align: center;
    width: 100%;
    margin-top: -10%;
  }
  .mainOne .textContainerMain p {
    width: 100%;
  }
  .mainOne .newAdditions {
    margin-top: 5%;
  }
  .mainOne .boxShadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mainTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 5%;
  }
  .mainTwo .nemo {
    margin-top: 0%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mainTwo .textContainerMain {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 0%;
    width: 80%;
  }
  .mainTwo .textContainerMain h4 {
    text-align: center;
    width: 100%;
    margin-top: -4%;
  }
  .mainTwo .textContainerMain p {
    text-align: center;
  }
  .mainTwo .textContainerMain .homeButton {
    margin-left: 0;
  }
  .mainTwo .boxShadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (max-width: 1100px) {
  .linksToStuff .circle a {
    margin-top: 10%;
    margin-right: 2%;
  }
  .thisMonthsProfile .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .thisMonthsProfile .textContainerProfile {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 5%;
    text-align: center;
  }
  .linksToStuff .circle a {
    margin-top: 11%;
    margin-right: 2%;
  }
  .thisMonthsProfile .profile .textContainerProfile .homeButton {
    margin-left: 0%;
  }
}
@media (max-width: 740px) {
  .nav-links {
    display: block;
    position: absolute;
    height: 80vh;
    top: 1%;
    background-color: rgba(153, 205, 50, 0.395);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50vw;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
  }
  .burger {
    display: block;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .show {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
    margin-top: 10%;
  }
  .toggle .bar1 {
    -webkit-transform: rotate(-45deg) translate(-15px, 6px);
            transform: rotate(-45deg) translate(-15px, 6px);
    -webkit-transition: all transform 1s ease;
    transition: all transform 1s ease;
  }
  .toggle .bar2 {
    opacity: 0;
  }
  .toggle .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, 6px);
            transform: rotate(45deg) translate(-5px, 6px);
    -webkit-transition: all transform 1s ease;
    transition: all transform 1s ease;
  }
  .underTheSea {
    padding: 20% 10% 10%;
  }
  .mainOne,
.mainTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainOne img,
.mainTwo img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    width: 100%;
  }
  .mainOne .newAdditions {
    margin-top: -5%;
  }
  .mainOne .textContainerMain h4 {
    text-align: center;
    margin-top: -20%;
  }
  .mainOne .textContainerMain p {
    width: 100%;
  }
  .mainTwo {
    padding-bottom: 5%;
  }
  .mainTwo .textContainerMain {
    margin-top: -5%;
  }
  .mainTwo .textContainerMain h4 {
    margin-top: -10%;
  }
  .mainTwo .textContainerMain button {
    width: 40%;
  }
  .linksToStuff h4 {
    font-size: 2.5rem;
    padding-top: 5%;
  }
  .linksToStuff p {
    font-size: 1.5rem;
  }
  .linksToStuff .location .circle a,
.linksToStuff .community .circle a {
    margin-top: 16%;
    margin-right: 3%;
  }
  .linksToStuff .circle a {
    margin-top: 16%;
    margin-right: 3%;
  }
  .linksToStuff .getInTouch h4 {
    width: 100%;
  }
  .thisMonthsProfile .textContainerProfile {
    padding-top: 10%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  .headerContainer {
    width: 40%;
    font-size: 1000%;
    margin-bottom: 50%;
  }
  .underTheSea {
    padding: 40% 10% 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .underTheSea h3 {
    font-size: 4.5rem;
  }
  .mainOne {
    margin-top: -5%;
  }
  .mainOne .textContainerMain {
    margin-top: -5%;
  }
  .mainOne .textContainerMain h4 {
    text-align: center;
    margin-top: -15%;
  }
  .mainOne .textContainerMain p {
    width: 100%;
  }
  .mainTwo {
    padding-bottom: 5%;
  }
  .mainTwo .textContainerMain {
    margin-top: -5%;
  }
  .mainTwo .textContainerMain h4 {
    margin-top: -10%;
  }
}
@media (max-width: 1250px) {
  .contactName input {
    width: 25vw;
  }
  .contactEmail input {
    width: 25vw;
  }
  aside {
    position: absolute;
    top: 110%;
    left: 30%;
  }
  aside h4,
aside p {
    font-size: 150%;
  }
  aside .fa-brands {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    margin-top: 15%;
  }
  footer {
    margin-top: 30%;
  }
}
@media (max-width: 1100px) {
  .contactMessage {
    margin-left: 1%;
  }
  aside {
    position: absolute;
    top: 110%;
    left: 30%;
  }
  aside h4,
aside p {
    font-size: 150%;
  }
  aside .fa-brands {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  footer {
    margin-top: 30%;
  }
}
@media (max-width: 950px) {
  .topRow {
    margin-left: -2%;
    gap: 1rem;
  }
  .contactEmail {
    margin-left: -10%;
  }
  aside {
    position: absolute;
    top: 110%;
    left: 30%;
  }
  aside h4,
aside p {
    font-size: 150%;
  }
  aside .fa-brands {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  footer {
    margin-top: 40%;
  }
}
@media (max-width: 740px) {
  .topRow {
    gap: 1rem;
  }
  .contactName input {
    width: 23vw;
  }
  .contactEmail input {
    width: 23vw;
    margin-left: -25%;
  }
  footer {
    margin-top: 40%;
  }
  aside {
    position: absolute;
    top: 110%;
    left: 30%;
  }
  aside .fa-brands {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (max-width: 690px) {
  .topRow {
    gap: 4rem;
  }
  .contactName {
    width: 20vw;
    margin-right: 20%;
  }
  .contactEmail {
    width: 20vw;
  }
  .contactMessage textarea {
    height: 20vh;
  }
  aside {
    position: absolute;
    top: 80%;
    left: 30%;
  }
  aside .fa-brands {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  footer {
    margin-top: 65%;
  }
}
@media (max-width: 480px) {
  .flexContainerNav {
    padding-top: 5%;
  }
  .contactHeader h2 {
    margin-left: 20%;
  }
  .topRow {
    margin-left: -7%;
  }
  .contactMessage textarea {
    height: 20vh;
  }
  aside {
    top: 70%;
    left: 25%;
    font-size: 140%;
  }
  footer {
    margin-top: 100%;
  }
}
@media (max-width: 1250px) {
  .flexContainerNav {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .leftSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60%;
    width: 100%;
  }
  .leftSide .greenBackground {
    visibility: hidden;
  }
  .leftSide .leftBlogImg img {
    visibility: hidden;
  }
  .leftSide .aboutUnderTheSea {
    margin-left: -25%;
    margin-bottom: 75%;
  }
  .leftSide .aboutUnderTheSea h4 {
    margin-top: 5%;
  }
  .rightSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0%;
  }
  .rightSide .flexContainerRightBlog h2 {
    padding-top: 25%;
    padding-left: 5%;
  }
  .rightSide .flexContainerRightBlog h3 {
    padding-top: 0%;
  }
  .rightSide .flexContainerRightBlog .imageRight {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-box-shadow: 41px 51px 0px #86E0F9;
            box-shadow: 41px 51px 0px #86E0F9;
    margin-left: -10%;
    margin-bottom: 55%;
  }
  .rightSide .flexContainerRightBlog .thinBorder {
    margin-left: 10%;
    margin-top: -17%;
  }
  .rightSide .flexContainerRightBlog .comments {
    margin-left: 0%;
  }
  .rightSide .flexContainerRightBlog .comments img {
    float: left;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
  }
  .rightSide .flexContainerRightBlog .comments p {
    padding-bottom: 5%;
  }
  .rightSide .flexContainerRightBlog .form {
    padding-left: 5%;
    width: 80vw;
  }
  .rightSide .flexContainerRightBlog .form .topContainerBlog {
    margin-left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .rightSide .flexContainerRightBlog .form .name input {
    width: 30vw;
  }
  .rightSide .flexContainerRightBlog .form .email input {
    width: 30vw;
  }
  .rightSide .flexContainerRightBlog .form .comment textarea {
    width: 70vw;
    margin-left: 5%;
  }
  .rightSide .flexContainerRightBlog .form button {
    margin-left: 15%;
    width: 100%;
    margin-bottom: -20%;
  }
}
@media (max-width: 1100px) {
  .rightSide .flexContainerRightBlog .thinBorder {
    margin-left: 10%;
    margin-top: 10%;
  }
  .rightSide .flexContainerRightBlog .form .topContainerBlog {
    margin-left: 8%;
  }
}
@media (max-width: 950px) {
  .rightSide .flexContainerRightBlog .thinBorder {
    margin-top: 25%;
  }
}
@media (max-width: 850px) {
  .leftSide .aboutUnderTheSea {
    margin-left: -25%;
    margin-bottom: 100%;
  }
  .rightSide .flexContainerRightBlog .thinBorder {
    margin-top: 35%;
  }
}
@media (max-width: 740px) {
  .rightSide .flexContainerRightBlog .thinBorder {
    margin-top: 50%;
  }
  .nav-links {
    display: block;
    position: absolute;
    height: 80vh;
    top: 1%;
    background-color: rgba(153, 205, 50, 0.395);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50vw;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
  }
  .burger {
    display: block;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .show {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
    margin-top: 10%;
  }
  .toggle .bar1 {
    -webkit-transform: rotate(-45deg) translate(-15px, 6px);
            transform: rotate(-45deg) translate(-15px, 6px);
    -webkit-transition: all transform 1s ease;
    transition: all transform 1s ease;
  }
  .toggle .bar2 {
    opacity: 0;
  }
  .toggle .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, 6px);
            transform: rotate(45deg) translate(-5px, 6px);
    -webkit-transition: all transform 1s ease;
    transition: all transform 1s ease;
  }
}
@media (max-width: 690px) {
  .leftSide .aboutUnderTheSea {
    margin-bottom: 70%;
    margin-left: -20%;
  }
  .rightSide .flexContainerRightBlog .thinBorder {
    margin-top: 65%;
  }
  .rightSide .flexContainerRightBlog .form {
    padding-left: 5%;
    width: 80vw;
  }
  .rightSide .flexContainerRightBlog .form .topContainerBlog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .rightSide .flexContainerRightBlog .form .name input {
    width: 25vw;
  }
  .rightSide .flexContainerRightBlog .form .email input {
    width: 25vw;
  }
}
@media (max-width: 480px) {
  .leftSide .aboutUnderTheSea {
    margin-left: -20%;
    margin-bottom: 45%;
  }
  .rightSide .flexContainerRightBlog .thinBorder {
    margin-top: 155%;
  }
}