.blogHeader {
  background-image: url(../under-the-sea-assets/blog-header.jpg);
  background-color: #0c1423;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.flexContainerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 5%;
}
.flexContainerNav a:hover {
  color: #86e0f9;
}
.flexContainerNav a:focus {
  color: #86e0f9;
}

header ul {
  list-style-type: none;
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  color: white;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 13.8rem;
  line-height: 126px;
  text-transform: uppercase;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-size: 8rem;
  line-height: 92px;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-size: 4.2rem;
  letter-spacing: 1px;
}

h4 {
  font-family: "Barlow", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 1px;
}

nav {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 32px;
}

.greenSection {
  background-color: #0f614e;
}

.mainOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8rem;
}
.mainOne .newAdditions {
  margin-top: -40px;
}
.mainOne .boxShadow {
  -webkit-box-shadow: 40px 40px 0px #86e0f9;
          box-shadow: 40px 40px 0px #86e0f9;
}
.mainOne .textContainerMain {
  width: 40%;
  padding-top: 5%;
}
.mainOne .textContainerMain h4 {
  margin-top: 0;
  text-transform: uppercase;
  width: 40%;
  text-align: left;
}
.mainOne .textContainerMain button {
  background-color: #0c1423;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 3%;
  width: 30;
}

.mainTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8rem;
  padding-top: 5%;
}
.mainTwo .textContainerMain {
  width: 40%;
  padding-top: 5%;
}
.mainTwo .textContainerMain h4 {
  margin-top: 0;
  text-transform: uppercase;
  text-align: right;
}
.mainTwo .textContainerMain p {
  text-align: right;
}
.mainTwo .textContainerMain button {
  background-color: #0c1423;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 3%;
  margin-left: 70%;
  width: 30%;
}
.mainTwo .nemo {
  margin-top: 40px;
}
.mainTwo .boxShadow {
  -webkit-box-shadow: -40px 40px 0px #86e0f9;
          box-shadow: -40px 40px 0px #86e0f9;
}

.linksToStuff {
  background-color: #0c1423;
  padding-top: 2%;
  padding-bottom: 3%;
}
.linksToStuff .flexContainerTop,
.linksToStuff .flexContainerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.linksToStuff .locations,
.linksToStuff .community,
.linksToStuff .blog,
.linksToStuff .getInTouch {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2% 3% 2%;
}
.linksToStuff .locations h4,
.linksToStuff .community h4,
.linksToStuff .blog h4,
.linksToStuff .getInTouch h4 {
  margin-left: 10%;
  text-transform: uppercase;
}
.linksToStuff .circle a {
  float: left;
  width: 36px;
  height: 36px;
  background-color: #86e0f9;
  border-radius: 20px;
  margin-top: 8%;
}
.linksToStuff .circle i {
  padding: 12px 11px;
  font-size: 20px;
  color: #0c1423;
  position: relative;
  bottom: 3px;
  right: 3px;
}
.linksToStuff .blog i {
  position: relative;
  bottom: 4px;
  left: 1px;
}
.linksToStuff .community i {
  position: relative;
  bottom: 4px;
  right: 5px;
}

.banner {
  background-image: url(../under-the-sea-assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
}

.thisMonthsProfile {
  background-color: #0c1423;
  padding-top: 5%;
  padding-bottom: 7%;
}
.thisMonthsProfile .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.thisMonthsProfile .profile .textContainerProfile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.thisMonthsProfile .profile .textContainerProfile h3 {
  text-transform: uppercase;
}
.thisMonthsProfile .profile .imageContainerProfile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 5%;
}
.thisMonthsProfile .boxShadow {
  -webkit-box-shadow: 40px 40px 0px #86e0f9;
          box-shadow: 40px 40px 0px #86e0f9;
}
.thisMonthsProfile button {
  background-color: #86e0f9;
  border: none;
  padding: 1% 2%;
  text-transform: uppercase;
}

.gallery {
  background-color: #0f614e;
  padding-top: 5%;
  padding-bottom: 5%;
}
.gallery .mainGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .mainGallery li {
  width: calc(33.3333333333% - 20px);
  list-style-type: none;
}
.gallery .mainGallery img {
  max-width: 100%;
}

footer p {
  background-color: #86e0f9;
  color: black;
  text-align: center;
  margin: 0;
}

.homePageHeader {
  background-image: url(../under-the-sea-assets/header-image.jpg);
  background-color: #0c1423;
  background-repeat: no-repeat;
}

.flexContainerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 5%;
}
.flexContainerNav a:hover {
  color: #86e0f9;
}
.flexContainerNav a:focus {
  color: #86e0f9;
}

header ul {
  list-style-type: none;
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.goldFish img {
  max-width: 100%;
}

.headerContainer {
  width: 40%;
}

.goldFish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  bottom: 450px;
  margin-bottom: -20%;
}

.underTheSea {
  text-align: center;
  padding-bottom: 10%;
}
.underTheSea h3 {
  text-transform: uppercase;
}
.underTheSea .underTheSeaP {
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}
.underTheSea button {
  background-color: #86e0f9;
  border: none;
  padding: 1% 2%;
  text-transform: uppercase;
}

body {
  background-color: #0c1423;
}

.greenBackground {
  background-color: #0f614e;
  height: 1000px;
  width: 400px;
  margin-left: 10%;
  margin-top: 5%;
}

.leftSideBlog .leftBlog img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  z-index: 10;
}

.contactHeader {
  background-image: url(../under-the-sea-assets/contact-header.jpg);
  background-color: #0c1423;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}
.contactHeader h2 {
  text-transform: uppercase;
  margin-left: 37%;
}

main form {
  background-color: #0f614e;
  margin-left: 34%;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -5%;
  -webkit-box-shadow: -40px 40px 0px #86e0f9;
          box-shadow: -40px 40px 0px #86e0f9;
  margin-bottom: 10%;
  padding: 3%;
  font-size: 1.2rem;
}
main .name {
  padding-top: 8%;
}
main .name label {
  visibility: hidden;
}
main .name input {
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid #86e0f9;
  width: 22vw;
}
main .email {
  padding-top: 8%;
}
main .email label {
  visibility: hidden;
}
main .email input {
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid #86e0f9;
  width: 22vw;
}
main .message {
  display: block;
  padding-top: 5%;
  padding-left: 3%;
}
main .message label {
  visibility: hidden;
}
main .message textarea {
  border: none;
  background-color: transparent;
  color: white;
  border: 2px solid #86e0f9;
  width: 51vw;
  height: 50vh;
  text-transform: capitalize;
}
main button {
  width: 93%;
  background-color: #0c1423;
  color: white;
  text-transform: uppercase;
  border: none;
  margin: 3%;
}

aside {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 160%;
}
aside .fa-brands {
  -webkit-transform: scale(2);
          transform: scale(2);
  padding-left: 5%;
  padding-right: 5%;
  margin-left: -3.5%;
}

@media (max-width: 1250px) {
  .goldFish {
    display: none;
  }
  .underTheSea {
    padding: 20% 10% 10%;
  }
  .underTheSea .underTheSeaP {
    text-align: center;
  }
  .mainOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .mainOne .textContainerMain {
    width: 80%;
  }
  .mainOne .textContainerMain h4 {
    text-align: center;
    width: 100%;
    margin-top: -10%;
  }
  .mainOne .textContainerMain p {
    width: 100%;
  }
  .mainOne .newAdditions {
    margin-top: 5%;
  }
  .mainOne .boxShadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mainTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 5%;
  }
  .mainTwo .nemo {
    margin-top: 0%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mainTwo .textContainerMain {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 0%;
    width: 80%;
  }
  .mainTwo .textContainerMain h4 {
    text-align: center;
    width: 100%;
    margin-top: -4%;
  }
  .mainTwo .textContainerMain p {
    text-align: center;
  }
  .mainTwo .textContainerMain button {
    margin-left: 0;
  }
  .mainTwo .boxShadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (max-width: 1100px) {
  .linksToStuff .circle a {
    margin-top: 10%;
    margin-right: 2%;
  }
  .thisMonthsProfile .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .thisMonthsProfile .textContainerProfile {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 5%;
    text-align: center;
  }
  .linksToStuff .circle a {
    margin-top: 11%;
    margin-right: 2%;
  }
}
@media (max-width: 740px) {
  .underTheSea {
    padding: 20% 10% 10%;
  }
  .mainOne,
.mainTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainOne img,
.mainTwo img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    width: 100%;
  }
  .mainOne .newAdditions {
    margin-top: -5%;
  }
  .mainOne .textContainerMain h4 {
    text-align: center;
    margin-top: -20%;
  }
  .mainOne .textContainerMain p {
    width: 100%;
  }
  .mainTwo {
    padding-bottom: 5%;
  }
  .mainTwo .textContainerMain {
    margin-top: -5%;
  }
  .mainTwo .textContainerMain h4 {
    margin-top: -10%;
  }
  .mainTwo .textContainerMain button {
    width: 40%;
  }
  .linksToStuff h4 {
    font-size: 2.5rem;
    padding-top: 5%;
  }
  .linksToStuff p {
    font-size: 1.5rem;
  }
  .linksToStuff .location .circle a,
.linksToStuff .community .circle a {
    margin-top: 16%;
    margin-right: 3%;
  }
  .linksToStuff .circle a {
    margin-top: 16%;
    margin-right: 3%;
  }
  .linksToStuff .getInTouch h4 {
    width: 100%;
  }
  .thisMonthsProfile .textContainerProfile {
    padding-top: 10%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  .underTheSea {
    padding: 40% 10% 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .underTheSea h3 {
    font-size: 4.5rem;
  }
  .mainOne {
    margin-top: -5%;
  }
  .mainOne .textContainerMain {
    margin-top: -5%;
  }
  .mainOne .textContainerMain h4 {
    text-align: center;
    margin-top: -15%;
  }
  .mainOne .textContainerMain p {
    width: 100%;
  }
  .mainTwo {
    padding-bottom: 5%;
  }
  .mainTwo .textContainerMain {
    margin-top: -5%;
  }
  .mainTwo .textContainerMain h4 {
    margin-top: -10%;
  }
}
@media (max-width: 1250px) {
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  form .name input {
    width: 50vw;
    margin-left: -1%;
  }
  form .email input {
    width: 50vw;
    margin-left: -6%;
  }
  form .message {
    margin-left: -6%;
  }
  form button {
    margin: 4%;
  }
  aside h4, aside p {
    font-size: 120%;
  }
}
@media (max-width: 1100px) {
  form .email input {
    margin-left: -7%;
  }
  form .message {
    margin-left: 1%;
  }
}
@media (max-width: 950px) {
  form .email input {
    margin-left: -9%;
  }
  aside h4,
aside p {
    font-size: 100%;
  }
}
@media (max-width: 740px) {
  form .email input {
    margin-left: 7%;
  }
  form .message {
    margin-left: 4%;
  }
}
@media (max-width: 690px) {
  .name {
    margin-left: 8%;
  }
  .message {
    margin-left: 4%;
  }
  aside .fa-brands {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  aside h4,
aside p {
    font-size: 80%;
  }
  footer {
    margin-top: 15%;
  }
}
@media (max-width: 480px) {
  form .name {
    margin-left: -2%;
  }
  form .email input {
    margin-left: 7%;
  }
  form .message {
    margin-left: 3%;
  }
  form button {
    margin-right: 2%;
  }
  aside .fa-brands {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  aside h4,
aside p {
    font-size: 70%;
  }
  footer {
    margin-top: 25%;
  }
}